*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}


/* topbar */

.topbar {
    display: none;
}

@media (min-width: 1024px) {
    .topbar {
        width: 100vw;
        height: 38px;
        background-color: #554a8c;
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 19%;
        font-size: 12px;
    
    }
}

.a-topbar{
    color: white;
    text-decoration: none;
}

a:hover{
    transition-duration: 0.2s;
    color: #ff8a73;
}


/* navbar */

.header{
    width: 100vw;
    height: 70px;
    position:absolute;
    top:0;
    z-index:10;
    background: rgb(255, 255, 255, 0.85);
    width:100%;
}

.nav-link{
    color: #554a8c;
}

.nav-link-main{
    margin: 0 23px;
    font-size: 14px;
    font-weight: bold;
}

.nav-link-main:hover{
    transition-duration: 0.2s;
    color: #ff8a73;
}

.nav-link-another{
    margin: 0 10px;
    font-size: 20px;
}

.bullet:hover::before{
    content: '• ';
    
}

.navbar-wrapper {
    position:relative;
}

.carousel {
    top:0;
}

.carousel-inner-first {
    width: 100vw; 
    overflow: hidden;
}

@media (max-width: 1024px) {
    #another-nav{
        display: none;
    }
}


/* main carousel section */

.carousel-caption{
    top: 50%;
    transform: translateY(-50%);

}

.carousel-control-prev,
  .carousel-control-next {
    width: 6%; /* Adjust width to your preference */
    bottom: 70px;
  }



.carousel-caption h5{
    font-size: 45px;
    color: #ff8000;
}

/* .carousel-indicators .main-carousel [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    padding: 0;
    margin-right: 15px;
    margin-left: 15px;
    text-indent: -999px;
    cursor: pointer;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 100%;
}

.one{
    background-color: #ff8A73;
}

.two{
    background-color: #554a8c;
}

.three{
    background-color: cornflowerblue;
} */



.drk:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 100px;
    left: 0;
    right: 123px;
    background: black;
    opacity: 0.6;
    z-index: 1;
  }
  
.carousel-caption {
    z-index: 2;
  }




/* change-bg section */

#myDiv{
    width: 100vw;
    height: 300vh;
    background-color: #e5efff;
}

.change-bg {
    background-color: #e5efff;
    transition: background-color 0.3s ease; /* Smooth transition */
  }


h2 {
    font-size: 26px;
    font-weight: 600;
    color: #58468c;
}

h1, h2, h3, h4, h5, h6 {
    color: #58468c;
}

    /* cards - carousel */

.cards-wrapper {
    display: flex;
    justify-content: center;
  }

.card img {
    max-width: 170px;
    max-height: 80px;
  }

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }

.carousel-inner {
    padding: 1em;
}


/* updates-copyright section */

.updates-copyright{
    width: 100vw;
    height: 331px;
    background-color: #14002d;
    color: #ffffff;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.updates-copyright h2, .updates-copyright p {
    color: #ffffff;
}
.updates-copyright .btn {
    background-color: #ffffff;
    color: #14002d;
}
.updates-copyright .form-control {
    margin-bottom: 15px;
}
.updates-copyright .copyright {
    text-align: center;
    padding: 20px 0;
}





