*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

.topbar{
    background-color: rgb(85, 74, 140);
}

a{
    color: white;
}

a:hover{
    color: #ff8a73;
}

a{
    text-decoration: none;
    transition: color .2s cubic-bezier(.02,.54,.58,1);


}